/*======================*\
	# STYLE CSS
\*======================*/


/*======================*\
	# CUSTOM PROPERTY
\*======================*/
	
:root{

	/*======================*\
	# COLORS
	\*======================*/

	--dark-jungle-green: hsl(188, 63%, 7%);
	--prussian-blue: hsl(200, 69%, 14%);
	--raisin-black-1: hsl(227, 29%, 13%);
	--raisin-black-2: hsl(229, 17%, 19%);
	--yellow-green: hsl(89, 72%, 85%);
	--orange-soda: hsl(9,100%, 62%);
	--cultured-1: hsl(0, 0%, 93%);
	--cultured-2:hsl(192, 24%, 96%);
	--misty-rose: hsl(210, 100%, 97%);
	--alice-blue: hsl(8, 100%, 97%);
	--seashell: hsl(8,100%, 97%);
	--cadet: hsl(0, 0%, 100%);
	--white: hsl(0,0%, 100%);
	--black:hsl(0,0%,0%);
	--opal: hsl(180, 20%, 62%);
	/*AMARESA COLORS*/
	--amaresa-green: #7AAA84;	
	/*======================*\
	# AMARESA COLOR SCHEME SHESH
	\*======================*/
	--head-foot-bg-amaresa: rgba(255, 255, 255, 0.66);
	--header-bg-amaresa-shadow:0 4px 30px rgba(0, 0, 0, 0.1);
	--footer-bg-amaresa-shadow:0 -4px 30px rgba(0, 0, 0, 0.1);		
	/*======================*\
	# TYPOGRAPHY
	\*======================*/
	--ff-numito-sans:"Nunito Sans", sans-serif;
	--ff-poppins:"Poppins", sans-serif;

	--fs-1: 1.875rem;
	--fs-2: 1.5rem;
	--fs-3: 1.375rem;
	--fs-4: 1.125rem;
	--fs-5: 0.875rem;
	--fs-6: 0.813rem;
	--fs-7: 0.75rem;

	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	/*======================*\
	# TRANSTION
	\*======================*/
	--transition:0.25s ease;
	/*======================*\
	# SPACING
	\*======================*/		
	--section-spacing: 100px;
	/*======================*\
	# SHADOW
	\*======================*/

	--shadow-1: 0 5px 20px hsla(219, 56%, 21%, 0.1);
	--shadow-1: 0 16px 32px hsla(188, 63%, 63%, 0.1);

}

/*======================*\
	# RESET
\*======================*/

*,*::before, *::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}

a,
img,
span,
button,
i{display: block;}
img{
	object-fit: cover;
}
button{
	border:none;
	outline: none;
	background: none;
	font: inherit;
	text-align: left;
	cursor: pointer;
}
address{font-style: normal;}
i{pointer-events: none;}

html{
	font-family: var(--ff-numito-sans); 
	scroll-behavior: smooth;
}
body{
	background: var(--seashell);
	overflow-x: hidden;
}
::-webkit-scrollbar{
	width: 10px;
	height: 8px;

}
::-webkit-scrollbar-track{background: var(--white);}
::-webkit-scrollbar-thumb{
	background: hsl(200, 50%, 20%);
	border-left: 2px solid var(--white);
}
/*======================*\
	# REUSED SYLE
\*======================*/

.container{padding-inline:15px; }
button, a {transition: var(--transition);}

.h1,
.h2,
.h3{
	color: var(--dark-jungle-green);
	font-family: var(--ff-poppins);
	line-height: 1.3;
}
.h1{
	font-size: var(--fs-1);
	line-height: 1;
}
.h2{font-size: var(--fs-2);}
.h3{
	font-size: var(--fs-4);
	font-weight: var(--font-weight, 700);
}
.h3 > a{color: inherit;}

.btn{
	position: relative;
	background: var(--orange-soda);
	color: var(--white);
	font-family: var(--ff-poppins);
	font-size: var(--fs-5);
	text-transform: var(--text-transform, capitalize);
	border: 1px solid var(--orange-soda);
	padding:10px 20px;
	z-index: 1;
}
.btn:is(:hover,:focus){
	background: var(--black);
	color: var(--dark-jungle-green);
	border-color: var(--black);
}
.btn::before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--white);
	transition: var(--transition);
	z-index: -1;
}
.btn:is(:hover,:focus)::before{width:100%;}
.w-100{ width: 100%; height: 100%; object-fit: cover;}

.section-subtitle{
	color: var(--orange-soda);
	font-size: var(--fs-5);
	font-weight: var(--fw-600);
	padding:5px 20px;
	background: hsla(9, 100%, 62%, 0.1);
	width: max-content;
	border-radius: 50px;
	margin-inline: auto;
	margin-bottom: 15px;
}

.section-title{
	text-align: var(--text-align, center);
	margin-bottom: var(--margin-bottom, 50px);
}

.card-badge {
	background: var(--black);
	color: var(--white);
	font-size: var(--fs-7);
	text-transform: uppercase;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 4px 10px;
}

.card-badge.green { background: var(--yellow-green); }

.card-badge.orange { background: var(--orange-soda); }

/*======================*\
	# SIDEBAR
\*======================*/
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 2px 5px black;
	width: 15%;
	height: 100vh;
	background: var(--prussian-blue);
}
.sidebar img{
	width: 100%;
	padding: 1rem;
	border-bottom: 5px solid white;
}
.dashboard{
	height: 100%;

	h3{
		padding: 1rem;
		text-align: center;
		font-size: var(--fs-1);
		color: var(--white);
	}
}
.dashboard-list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

}
.dashboard-list-item{
	color: white;
	display: flex ;
	gap: 1rem;
	padding: 1rem;
	justify-content: left;

	span{
		font-size: var(--fs-4);
	}
}
.dashboard-list-item::last-child(){
	background: red;
}
.active{
	background: var(--orange-soda);
	border-top-right-radius: 15px;
}
.dashboard-list-item:is(:hover,:focus){
	background: var(--orange-soda);
	border-top-right-radius: 15px;
}
/*======================*\
	# TOP SECTION
\*======================*/
.displaylist{
	display: block;
	position: relative;
	border-radius: 16px;
	margin: 10px 0 0 16%;
	width: 83%;
	color: black;
	background: var(--head-foot-bg-amaresa);
	box-shadow: 2px 2px 3px black;
	padding: 4rem;
}
.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container-item{
	box-shadow: 5px 5px 5px black;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	color: white;
	background: var(--prussian-blue);
	width: 15%;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}
.container-title{

	border-bottom: 2px solid var(--white);
	margin-bottom: 1rem;
	width: 100%;
	font-size: var(--fs-2);
	font-weight: var(--fw-600);
	padding: .5rem;
	display: flex;
	justify-content: space-between;
}
/*======================*\
	# MAIN SECTION
\*======================*/
.Table-section{
	display: block;
	position: relative;
	border-radius: 16px;
	margin-inline: 16%;
	margin-block: 1rem;
	width: 83%;
	background: var(--amaresa-green);
	color: white;


}
.table{


  	border-collapse: collapse;
	width: 100%;

	th{
		border-bottom:1px solid white;
	}
	td,th{
		text-align: center;
		padding: 1rem;
	}
}

.td-action{
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-evenly;
}

.td-action a{
	font-size: var(--fs-2);
	padding: 10px;
	background: ghostwhite;
	border-radius: 26px;
}
.td-action a:nth-child(1){color: black;}
.td-action a:nth-child(2){color: darkgreen;}
.td-action a:nth-child(3){color: darkred;}
.td-action a:is(:hover,:focus){color: var(--orange-soda);}

/*======================*\
	# ADD BUILDING
\*======================*/
.Building{
	position: fixed;
	right: 15px;
	bottom: 10px;
	border-radius: 15px;
	background: var(--prussian-blue);
	padding: 1rem;

	a{color: whitesmoke;}

	a:is(:hover,:focus){color: var(--orange-soda);}
}